body {
	background-color: #EEEEEE;
}

b { font-weight: bold; }
i { font-style: italic; }

#tribunat-container {
	background-color: #FFFFFF;
}

#tribunat-container-inside {
	padding-top: 50px;
}

.fill { 
	position: absolute;
    min-height: 100%;
    height: 100%;
}

.table-nonfluid {
   width: 100%;
}